* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: bell;
  src: url("../../assets/font/BELL.TTF");
}

.cont_pcipal h1 {
  width: 95vw;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}
.leyenda{
  width: 95vw;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

.cont_pcipal {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.form {
  width: 95vw;
  color: darkred;
  font-size: 1.5rem;
  border-radius: 2%;
  padding: 10px;
  display: grid;
  box-shadow: 4px 4px 4px 3px rgb(0, 0, 0, 0.6);
}

.sec_form {
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.cont_form {
  padding: 5px;
  padding-bottom: 25px;
  width: 92vw;
  height: auto;
}

.form {
  height: auto;
  display: grid;
  margin: auto;
  align-items: center;
}

.dato1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.form-nom_ape {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 6px;
  padding: 0px 20px;
  text-align: justify;
}

.dato2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.form-contac {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 6px;
  padding: 10px 20px;
  text-align: justify;
}

.dato3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.form-direc {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 6px;
  padding: 0px 20px;
  text-align: justify;
}

.formulario__input-erro {
  font-size: 1rem;
  margin-bottom: 0;
  display: none;
}
.formulario__input-erro-activo {
  display: block;
}

.formulario__validacion-estado {
  position: relative;
  align-items: baseline;
  width: 2vw;
  height: 3vh;
  left: 40vw;
  bottom: 24px;
  z-index: 100;
  font-size: 18px;
  opacity: 0;
}


.formulario__validacion-estado2 {
  position: relative;
  align-items:baseline;
  width: 2vw;
  height: 3vh;
  left: 26vw;
  bottom: 24px;
  z-index: 100;
  font-size: 18px;
  opacity: 0;
}

.form-motiv {
  width: 92vw;
  display: grid;
  gap: 10px;
  margin-top: 6px;
  padding: 10px 100px;
  text-align: justify;
  border-bottom: dotted;
  border-color: var(--color-logo-sombra);
}

.form-motiv li {
  display: inline;
}

.form-motiv h3 {
  grid-column: 1/4;
}

.form-servicio h3 {
  grid-column: 1/5;
  text-align: center;
}

.form-servicio {
  width: 92vw;
  display: grid;
  grid-template-rows: repeat(6 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px 100px;
  border-bottom: dashed;
  border-color: var(--color-logo-sombra);
}

.serv1 {
  border-style: double;
  padding: 10px;
}

.otros {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.otros_tit {
  grid-column: 1/4;
  text-align: center;
}
.final {
  width: 92vw;
  display: grid;
  grid-template-rows: repeat(4 1fr);
  padding: 0px 05px;
}
.formulario__mensaje {
  width: 85vw;
  height: 25px;
  line-height: 25px;
  background: rgb(193, 201, 206);
  padding: 0 15px;
  border-radius: 3px;
  font-size: 1.2rem;
  text-align: center;
  display: none;
}
.formulario__mensaje-activo {
  display: block;
}

.aceptacion {
  width: 85vw;
  padding: 0 15px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1rem;
}
.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.aceptacion p {
  text-align: justify;
  font-size: 1rem;
}

.form-botones {
  color: darkred;
  height: 30px;
  margin-top: 6px;
  text-align: center;
}

.form-botones input {
  width: 175px;
  cursor: pointer;
}
.form-botones input:hover {
  box-shadow: 3px 0px 30px rgba(193, 201, 206, 1);
}
.formulario__mensaje-exito {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
  display: none;
}
.formulario__mensaje-exito-activo{
  display: block;
} */

/* ---- Estilo para validacion ---- */

.correcto .formulario__validacion-estado,
.formulario__mensaje-exito,
.correcto .formulario__validacion-estado2 {
  color: #1ed12e;
  opacity: 1;
}

.incorrecto label {
  color: #f80606;
}

.incorrecto .formulario__validacion-estado,
.incorrecto .formulario__validacion-estado2 {
  color: #f80606;
  opacity: 1;
}

.incorrecto input {
  border: 3px solid #f80606;
}

/* responsive design */
/* Portatil */
@media screen and (max-width: 1024px) and (max-width: 1200px) {
  main h1,
  p {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
  }
  .leyenda{
    font-size: 1.1rem;
  }
  .form {
    font-size: 1.1rem;
  }

  .form-nom_ape,
  .form-contac {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 6px;
    padding: 0px 50px;
    font-size: 1.05rem;
    text-align: justify;
  }
  .form-direc {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 6px;
    padding: 0px 50px;
    text-align: justify;
  }
  .formulario__validacion-estado {
    position: relative;
    left: 39vw;
    bottom: 22px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
  .formulario__validacion-estado2 {
    position: relative;
    left: 25vw;
    bottom: 22px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
}

/* Tablet */
@media screen and (max-width: 768px) and (max-width: 1023px) {
  main h1,
  p {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
  }
  .form {
    font-size: 1.1rem;
  }

  .form-nom_ape,
  .form-contac {
    width: 92vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 6px;
    padding: 0px 5px;
    font-size: 1.05rem;
    text-align: justify;
  }
  .form-direc {
    width: 92vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 6px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-motiv {
    display: grid;
    gap: 10px;
    margin-top: 6px;
    padding: 10px 5px;
    text-align: justify;
    border-bottom: dotted;
    border-color: var(--color-logo-sombra);
  }
  .form-servicio h3 {
    grid-column: 1/3;
    text-align: center;
  }
  .form-servicio {
    width: 92vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 5px;
    border-bottom: dashed;
    border-color: var(--color-logo-sombra);
  }
  .otros {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .otros_tit {
    grid-column: 1/3;
    text-align: center;
  }
  .serv1 {
    font-size: 0.8rem;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .serv1 h4 {
    grid-column: 1/3;
    text-align: center;
  }
  .aceptacion {
    width: 92vw;
    padding: 0 5px;
    font-size: 0.9rem;
  }

  .aceptacion p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .form-botones {
    width: 92vw;
    font-size: 0.9rem;
    color: darkred;
    height: 30px;
    margin-top: 6px;
    text-align: center;
  }

  .form-botones input {
    color: darkred;
    width: 105px;
  }
  .formulario__validacion-estado {
    position: relative;
    left: 41vw;
    bottom: 22px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
  .formulario__validacion-estado2 {
    position: relative;
    left: 26vw;
    bottom: 22px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
}

/* mobile L*/
@media screen and (max-width: 425px) and (max-width: 767px) {
  main h1,
  p {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
  }
  .form {
    font-size: 1.1rem;
  }

  .form-nom_ape,
  .form-contac {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 6px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-direc {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 1px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-motiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 6px;
    padding: 10px 10px;
    text-align: justify;
    border-bottom: dotted;
    border-color: var(--color-logo-sombra);
  }
  .form-servicio {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 5px;
    border-bottom: dashed;
    border-color: var(--color-logo-sombra);
  }
  .serv1 {
    font-size: 0.8rem;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .serv1 h4 {
    grid-column: 1/3;
    text-align: center;
  }
  .aceptacion {
    width: 92vw;
    padding: 0 2px;
    font-size: 0.9rem;
  }

  .aceptacion p {
    margin: 5px;
    font-size: 0.9rem;
    text-align: justify;
  }
  .form-botones {
    width: 92vw;
    font-size: 0.9rem;
    color: darkred;
    height: 30px;
    margin-top: 6px;
    text-align: center;
  }

  .form-botones input {
    align-items:center;
    color: darkred;
    width: 105px;
  }
  .formulario__validacion-estado {
    position: relative;
    left: 78vw;
    bottom: 21px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
  .formulario__validacion-estado2 {
    position: relative;
    left: 47vw;
    bottom: 22px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
  }
}

/* mobile M*/
@media screen and (max-width: 375px) and (max-width: 424px) {
  main h1,
  p {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
  }
  .form {
    font-size: 1.1rem;
  }

  .form-nom_ape,
  .form-contac {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 6px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-direc {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 1px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-motiv {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 6px;
    padding: 10px 10px;
    text-align: justify;
    border-bottom: dotted;
    border-color: var(--color-logo-sombra);
  }
  .form-servicio {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 5px;
    border-bottom: dashed;
    border-color: var(--color-logo-sombra);
  }
  .serv1 {
    font-size: 0.8rem;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .serv1 h4 {
    grid-column: 1/3;
    text-align: center;
  }
  .aceptacion {
    width: 92vw;
    padding: 0 5px;
    font-size: 0.9rem;
  }

  .aceptacion p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .form-botones {
    width: 92vw;
    font-size: 0.9rem;
    color: darkred;
    height: 30px;
    margin-top: 6px;
    text-align: center;
  }

  .form-botones input {
    color: darkred;
    width: 105px;
  }
}

/* mobile S*/
@media screen and (max-width: 320px) and (max-width: 374px) {
  main h1,
  p {
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
  }
  .form {
    font-size: 1.1rem;
  }

  .form-nom_ape,
  .form-contac {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 6px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-direc {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 1px;
    padding: 0px 5px;
    text-align: justify;
  }
  .form-motiv {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 6px;
    padding: 10px 10px;
    text-align: justify;
    border-bottom: dotted;
    border-color: var(--color-logo-sombra);
  }
  .form-servicio {
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 5px;
    border-bottom: dashed;
    border-color: var(--color-logo-sombra);
  }
  .serv1 {
    font-size: 0.8rem;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .serv1 h4 {
    grid-column: 1/3;
    text-align: center;
  }
  .aceptacion {
    width: 92vw;
    padding: 0 5px;
    font-size: 0.9rem;
  }

  .aceptacion p {
    font-size: 0.9rem;
    text-align: justify;
  }
  .form-botones {
    width: 92vw;
    font-size: 0.9rem;
    color: darkred;
    height: 30px;
    margin-top: 6px;
    text-align: center;
  }

  .form-botones input {
    color: darkred;
    width: 105px;
  }
}
