<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Jah-yire-02.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/preg_resp.css">
    <script src="https://kit.fontawesome.com/212e7414e9.js" crossorigin="anonymous"></script>
    <title>JAH - YIRE</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div>
            <!-- Logo -->
            <img  id="logo" src="../static/img/Jah-yire 03.png" alt="">
        </div>
        <!-- Menú de navegación -->
        <nav class="bnav">
            <ul class="nav_ul">
                <li class="nav_li">
                    <i class="fas fa-home"></i>
                    <a href="../index.html" class="bnav_item">Bienvenidos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-user-friends"></i>
                    <a href="servicios.html" class="bnav_item">Servicios</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-question-circle"></i>
                    <a href="conocenos.html" class="bnav_item">Conocenos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-address-book"></i>
                    <a href="contactanos.html" class="bnav_item">Contactanos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-handshake"></i>
                    <a href="trabajar.html" class="bnav_item">Trabaja con nosotros</a>
                </li>
            </ul>            
        </nav>
    </header>
    
    <!-- Contenido -->
    <main>
        <h1>Conocenos</h1>
        <section>
            <div>
                <h2>¿Quienes somos?</h2>
                <P>
                    Somos una compañía especializada en a prestación de servicios y soluciones integrales en
                    limpieza de casas, instituciones, servicios generales, jardinería, etc. <br> Orientados
                    en garantizar la satisfacción de los clientes por nuestros servicios mediante la
                    dignificación del empleo y la eficiente utilización de los recursos disponibles.
                </p>
            </div>
            <br>
            <div>
                <h2>¿Por qué elegirnos?</h2>
                <P>
                    Trabajar con JAH-YIRE simplifica un procedimiento que de lo contrario, implicaría perder
                    tiempo buscando la persona idonea, eficiente y eficaz, para satisfacer tu necesidad,
                    ademas de muchas otras responsabilidades que te quitan tiempo valioso, que podria ser
                    usado para otras actividades en tu vida o en las empresas. <br> De esta forma se
                    optimizan los tiempos de planificación y ejecución de cada tarea. <br> Esto es posible
                    ya que nuestra empresa cuenta con una amplia gama de servicios que cubren cualquier
                    necesidad que se requiera.
                </P>
            </div>
            <br>
            <div>
                <h2>Nuestra meta ..</h2>
                <P>
                    En el 2025 ser reconocidos como la compañía líder a nivel nacional en la prestación
                    de servicios y soluciones. <br>
                    Las cuales se soportarán con tecnología adecuada y el respaldo de un equipo humano
                    comprometido con el servicio en pro de cumplir con las necesidades y expectativas de
                    nuestros clientes.
                </P>
            </div>
            <br>
            <div>
                <h2>Nuestro compromiso</h2>
                <P>
                    En JAH-YIRE nos tomamos este trabajo con profesionalismo, ya que es fundamental que las
                    personas puedan vivir o trabajar en un ambiente cómodo y favorable, tanto para su salud,
                    como para su rendimiento. <br>
                    Ofrecemos a nuestros clientes un amplio conocimiento estratégico, táctico y operativo.
                    <br>
                    Nuestros servicios de limpieza cuentan con equipos coordinados por un supervisor para la
                    correcta higiene de los lugares a donde nos necesiten
                </P>
            </div>
            
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <div class="cont_footer">
            <h3>Seguinos en: </h3>
            <ul class="cont_lista">
                <li class="cont_lista_li">
                    <i class="fab fa-facebook"></i>
                    <a href="">Facebook</a>
                </li>
                <li class="cont_lista_li">
                    <i class="fab fa-instagram"></i>
                    <a href="">@Instagram</a>
                </li>
                <li class="cont_lista_li">
                    <i class=" fab fa-x-twitter"></i>
                     <a href="">Twitter</a>
                </li>
            </ul>
        </div>
    </footer>
       
    
</body>
</html>