<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Jah-yire-02.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/servicios.css">
    <script src="https://kit.fontawesome.com/212e7414e9.js" crossorigin="anonymous"></script>
    <title>JAH - YIRE</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div>
            <!-- Logo -->
            <img  id="logo" src="../static/img/Jah-yire 03.png" alt="">
        </div>
        <!-- Menú de navegación -->
        <nav class="bnav">
            <ul class="nav_ul">
                <li class="nav_li">
                    <i class="fas fa-home"></i>
                    <a href="../index.html" class="bnav_item">Bienvenidos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-user-friends"></i>
                    <a href="servicios.html" class="bnav_item">Servicios</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-question-circle"></i>
                    <a href="conocenos.html" class="bnav_item">Conocenos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-address-book"></i>
                    <a href="contactanos.html" class="bnav_item">Contactanos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-handshake"></i>
                    <a href="trabajar.html" class="bnav_item">Trabaja con nosotros</a>
                </li>
            </ul>            
        </nav>
    </header>
    
    <!-- Contenido -->
    <main class="cont_pcipal">
        <h1>LOS SERVICIOS QUE OFRECEMOS SON:</h1>
        <section class="limpieza">
            <div class="otros_titulos">
                <ul class="otros_titulos-lista">
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lc">Limpieza de casas</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lo">Limpieza de Oficinas</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-le">Limpieza de Edificios</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-ls">Limpieza de Salones</h2>
                    </li>
            </div>
            <div class="limpieza-item">
                <img src="../static/img/limpieza_casas2.jpg" alt="">
                <h3>Limpieza de casas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga maxime nobis, officiis fugiat asperiores dolorem natus laudantium ipsam nam dolores, explicabo corrupti sequi ducimus ut rerum, laboriosam dolore blanditiis?</p>
            </div>
            <div class="limpieza-item">
                <img src="../static/img/limpiando la mesa .jpg" alt="">
                <h3>Limpieza de oficinas</h3>
                <p>Este tipo de limpieza de oficinas tiene el objetivo de facilitar el día a día de una empresa para que sus espacios se encuentren limpios y prolijos así los trabajadores puedan aprovecharlos y sentirse cómodos.</p>
            </div>
            <div class="limpieza-item">
                <img src="../static/img/Limpieza.jpg" alt="">
                <h3>limpieza de edificios / Salones</h3>
                <p>Disponga de nuestros equipos especializados de limpieza y desinfección con la regularidad que lo desee y tenga sus espacios siempre pulcros y sanos. Una limpieza constante es fundamental para el correcto mantenimiento a mediano y largo plazo de cualquier estructura o instalación.</p>
            </div>
        </section>
        <section class="tutorias">
            <div class="otros_titulos">
                <ul class="otros_titulos-lista">
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lc">Cuidado de Niños/as</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lo">Cuidado Ancianos</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-le">Tutorias Nivel Primario</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-ls">Tutorias Nivel Secundario</h2>
                    </li>
                </ul>
            </div>
            <div class="tutorias-item">
                <img src="../static/img/niñera2.jpg" alt="">
                <h3>Cuidado de Niños</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga maxime nobis, officiis fugiat asperiores dolorem natus laudantium ipsam nam dolores, explicabo corrupti sequi ducimus ut rerum, laboriosam dolore blanditiis?</p>
            </div>
            <div class="tutorias-item">
                <img src="../static/img/Cuidador de personas mayores.jpg" alt="">
                <h3>Cuidado de Ancianos</h3>
                <p>La tercera edad es una etapa única en la vida: combina el esplendor de sabiduría, recuerdos y afectos con la fragilidad física, mental y emocional. <br>Esto requiere de apoyos específicos y a medida, con una mirada profesional y especializada. <br>Es por eso que en JAH-Yire, nuestros acompañantes asisten a los adultos mayores con calidad y calidez, entendiendo y respetando sus tiempos, necesidades y gustos.</p>
            </div>
            <div class="tutorias-item">
                <img src="../static/img/tutoras2.jpg" alt="">
                <h3>Tutoria Primaria / Secundaria</h3>
                <p>Las tutorías escolares son una estrategia que 
                    mejora los aprendizajes y reduce el abandono. <br>
                    Para ciertos niños y adolecentes, resulta clave tener a quién acudir cuando enfrentan dificultades con una materia. <br>
                    Saber que, después de un examen, recibirán un mensaje preguntándoles cómo les fue. O contar con un espacio periódico (semanal, mensual) para imaginar su futuro con la orientación de un referente adulto. Los niños y adolecente se sienten acompañados, están más motivados para llegar a la meta: de eso se tratan las tutorías escolares
                    </p>
            </div>
        </section>
        <section class="generales">
            <div class="otros_titulos">
                <ul class="otros_titulos-lista">
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lc">Construccion</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lo">Electricista</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-le">Plomeria</h2>
                    </li>
                </ul>
            </div>
            <div class="generales-item">
                <img src="../static/img/albañil.jpg" alt="">
                <h3>Construccion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga maxime nobis, officiis fugiat asperiores dolorem natus laudantium ipsam nam dolores, explicabo corrupti sequi ducimus ut rerum, laboriosam dolore blanditiis?</p>
            </div>
            <div class="generales-item">
                <img src="../static/img/electricista.jpg" alt="">
                <h3>Electricista</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates maxime id aliquam quas, perspiciatis saepe ratione. Rem architecto, quae amet repellendus cupiditate, quisquam cumque, saepe exercitationem veniam unde vitae tempore!</p>
            </div>
            <div class="generales-item">
                <img src="../static/img/plomero2.jpg" alt="">
                <h3>Plomeria</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, voluptas sint repellat, alias aliquid maiores tempora autem dolorem eaque sunt illo tempore modi assumenda odio expedita delectus veritatis? Quas, iste!</p>
            </div>
        </section>
        <section class="otros">
            <div class="otros_titulos">
                <ul class="otros_titulos-lista">
                    <li class="otros_titulos-li">
                        <h2 class="li titulos-lc">Pintor</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-lo">Paseo de perros</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-le">Limpieza de Patios</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-ls">Peluqueria</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-le">Costureria</h2>
                    </li>
                    <li class="otros_titulos-li">
                        <h2 class="titulos-le">Animacion de Fiestas</h2>
                    </li>
                </ul>
            </div>
            <div class="otros-item">
                <img src="../static/img/pintor2.jpg" alt="">
                <h3>Pintor</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga maxime nobis, officiis fugiat asperiores dolorem natus laudantium ipsam nam dolores, explicabo corrupti sequi ducimus ut rerum, laboriosam dolore blanditiis?</p>
            </div>
            <div class="otros-item">
                <img src="../static/img/pasea_perros.jpg" alt="">
                <h3>Paseo de Perros</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates maxime id aliquam quas, perspiciatis saepe ratione. Rem architecto, quae amet repellendus cupiditate, quisquam cumque, saepe exercitationem veniam unde vitae tempore!</p>
            </div>
            <div class="otros-item">
                <img src="../static/img/Peluqueria.jpg" alt="">
                <h3>Peluqueria</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, voluptas sint repellat, alias aliquid maiores tempora autem dolorem eaque sunt illo tempore modi assumenda odio expedita delectus veritatis? Quas, iste!</p>
            </div>
            <div class="otros-item">
                <img src="../static/img/cortando césped .jpg" alt="">
                <h3>Limpieza de Patios</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, voluptas sint repellat, alias aliquid maiores tempora autem dolorem eaque sunt illo tempore modi assumenda odio expedita delectus veritatis? Quas, iste!</p>
            </div>
            <div class="otros-item">
                <img src="../static/img/costura.jpg" alt="">
                <h3>Costureria</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, voluptas sint repellat, alias aliquid maiores tempora autem dolorem eaque sunt illo tempore modi assumenda odio expedita delectus veritatis? Quas, iste!</p>
            </div>
            <div class="otros-item">
                <img src="../static/img/animacion.jpg" alt="">
                <h3>Animacion de Fiestas</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, voluptas sint repellat, alias aliquid maiores tempora autem dolorem eaque sunt illo tempore modi assumenda odio expedita delectus veritatis? Quas, iste!</p>
            </div>
           
        </section>
        
    </main>

    <!-- Pie de página -->
    <footer>
        <div class="cont_footer">
            <h3>Seguinos en: </h3>
            <ul class="cont_lista">
                <li class="cont_lista_li">
                    <i class="fab fa-facebook"></i>
                    <a href="">Facebook</a>
                </li>
                <li class="cont_lista_li">
                    <i class="fab fa-instagram"></i>
                    <a href="">@Instagram</a>
                </li>
                <li class="cont_lista_li">
                    <i class=" fab fa-x-twitter"></i>
                     <a href="">Twitter</a>
                </li>
            </ul>
        </div>
    </footer>
       
    
</body>
</html>