<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Jah-yire-02.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/trabajar.css">
    <script src="https://kit.fontawesome.com/212e7414e9.js" crossorigin="anonymous"></script>
    <title>JAH - YIRE</title>
</head>
<body>
    <!-- Encabezado -->
    <header class="header">
        <!-- Menú de navegación -->
        <nav class="bnav">
            <img class="logo" src="../static/img/Jah-yire 03.png" alt="logo Jah-yire">
            <!-- Menu hambuerguesa -->
            <label class="labe_hamburguesa" for="menu_hamburguesa">
                <i class="fas fa-bars"></i>
            </label>
            <input class="menu_hamburguesa" type="checkbox" name="" id="menu_hamburguesa">

            <ul class="nav_ul">
                <li class="nav_li">
                    <i class="fas fa-home"></i>
                    <a href="../index.html" class="bnav_item">Bienvenidos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-user-friends"></i>
                    <a href="servicios.html" class="bnav_item">Servicios</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-question-circle"></i>
                    <a href="conocenos.html" class="bnav_item">Conocenos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-address-book"></i>
                    <a href="contactanos.html" class="bnav_item">Contactanos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-handshake"></i>
                    <a href="trabajar.html" class="bnav_item">Trabaja con nosotros</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Contenido -->
    <main class="cont_pcipal">
        <h1>Trabaja con Nosotros</h1>
        <section class="sec_form">
            <form class="form">
                <div class="cont_form">
                    <div class="form-nom_ape">
                        <div class="dato1">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" id="nombre" required>
                        </div>
                        <div class="dato1">
                            <label for="apellido">Apellido:</label>
                            <input type="text" name="apellido" id="apellido" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-direc">
                        <div class="dato2">
                            <label for="direccion">Direccion</label>
                            <input type="text" name="direccion" id="direccion">
                        </div>
                        <div class="dato2">
                            <label for="localidad">Localidad:</label>
                            <input type="text" name="localidad" id="localidad" required>
                        </div>
                        <div class="dato2">
                            <label for="provincia">Provincia:</label>
                            <input type="text" name="provincia" id="provincia" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-contac">
                        <div class="dato3">
                            <label for="telefono">Telefono:</label>
                            <input type="tel" name="telefono" id="telefono" maxlength="10" required>
                        </div>
                        <div class="dato3">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                    </div>
                </div>

                <div class="form-motiv">
                    <h3>Disponibilidad Horaria</h3>
                    <ul>
                        <li>
                            <input type="radio" name="servicios" id="patio">
                            <label for="patio">Full Time</label>
                        </li>
                        <li>
                            <input type="radio" name="servicios" id="patio">
                            <label for="patio">Diurno</label>
                        </li>
                        <li>
                            <input type="radio" name="servicios" id="patio">
                            <label for="patio">Nocturno</label>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="form-servicio">
                    <h3>Areas de Desempeño</h3>
                    <ul class="serv1 l">
                        <h4>LIMPIEZA DE:</h4>
                        <li>
                            <input type="checkbox" name="servicios" id="casa">
                            <label for="casa">CASA</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="oficina">
                            <label for="oficina">OFICINA</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="salon">
                            <label for="salon">SALON</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="edificio">
                            <label for="edificio">EDIFICIO</label>
                        </li>
                    </ul>
                    <ul class="serv1 c">
                        <H4>CUIDADO DE:</H4>
                        <li>
                            <input type="checkbox" name="servicios" id="anciano">
                            <label for="anciano">ANCIANOS</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="ninos">
                            <label for="ninos">NIÑOS</label>
                        </li>
                    </ul>
                    <ul class="serv1 t">
                        <H4>TUTORIAS DE: </H4>
                        <li>
                            <input type="checkbox" name="servicios" id="primaria">
                            <label for="primaria">PRIMARIA</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="secundaria">
                            <label for="secundaria">SECUNDARIA</label>
                        </li>
                    </ul>
                    <ul class="serv1 r">
                        <h4>REPARACIONES</h4>
                        <li>
                            <input type="checkbox" name="servicios" id="construccion">
                            <label for="construccion">CONSTRUCCION</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="electricista">
                            <label for="electricista">ELECTRICISTA</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="plomeria">
                            <label for="plomeria">PLOMERIA</label>
                        </li>
                    </ul>
                    <ul class="otros serv1 ot">
                        <h4 class="otros_tit">OTROS</h4>
                        <li>
                            <input type="checkbox" name="servicios" id="pintor">
                            <label for="pintor">PINTOR</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="paseador">
                            <label for="paseador">PASEO DE PERROS</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="peluqueria">
                            <label for="peluqueria">PELUQUERIA</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="patios">
                            <label for="patios">LIMPIEZA DE PATIOS</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="costureria">
                            <label for="costureria">COSTURERIA</label>
                        </li>
                        <li>
                            <input type="checkbox" name="servicios" id="animacion">
                            <label for="animacion">ANIMACION DE FIESTAS</label>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="aceptacion">
                    <p>
                        JAH-YIRE agradece que quieras formar parte de nuestro staff. Te pedimos por favor que adjuntes tu CV, para que podamos tener una base de datos mas completa.
                    </p> <br>
                    <input class="archivo" type="file" name="acepto" id="acepto" required>
                </div>
                <br>
                <div class="form-botones">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </div>
            </form>
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <div class="cont_footer">
            <h3>Seguinos en: </h3>
            <ul class="cont_lista">
                <li class="cont_lista_li">
                    <i class="fab fa-facebook"></i>
                    <a target="_blank" href="https://www.facebook.com/">Facebook</a>
                </li>
                <li class="cont_lista_li">
                    <i class="fab fa-instagram"></i>
                    <a target="_blank" href="https://www.instagram.com/">@Instagram</a>
                </li>
                <li class="cont_lista_li">
                    <i class=" fab fa-x-twitter"></i>
                    <a target="_blank" href="https://twitter.com/?lang=es">Twitter</a>
                </li>
            </ul>
        </div>
    </footer>


</body>

</html>