<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Jah-yire-02.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/trabajar.css">
    <script src="https://kit.fontawesome.com/212e7414e9.js" crossorigin="anonymous"></script>
    <title>JAH - YIRE</title>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div>
            <!-- Logo -->
            <img  id="logo" src="../static/img/Jah-yire 03.png" alt="">
        </div>
        <!-- Menú de navegación -->
        <nav class="bnav">
            <ul class="nav_ul">
                <li class="nav_li">
                    <i class="fas fa-home"></i>
                    <a href="../index.html" class="bnav_item">Bienvenidos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-user-friends"></i>
                    <a href="servicios.html" class="bnav_item">Servicios</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-question-circle"></i>
                    <a href="conocenos.html" class="bnav_item">Conocenos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-address-book"></i>
                    <a href="contactanos.html" class="bnav_item">Contactanos</a>
                </li>
                <li class="nav_li">
                    <i class="fas fa-handshake"></i>
                    <a href="trabajar.html" class="bnav_item">Trabaja con nosotros</a>
                </li>
            </ul>            
        </nav>
    </header>
    
    <!-- Contenido -->
    <main>
        <h1>TRABAJAR</h1>
    </main>

    <!-- Pie de página -->
    <footer>
        <div class="cont_footer">
            <h3>Seguinos en: </h3>
            <ul class="cont_lista">
                <li class="cont_lista_li">
                    <i class="fab fa-facebook"></i>
                    <a href="">Facebook</a>
                </li>
                <li class="cont_lista_li">
                    <i class="fab fa-instagram"></i>
                    <a href="">@Instagram</a>
                </li>
                <li class="cont_lista_li">
                    <i class=" fab fa-x-twitter"></i>
                     <a href="">Twitter</a>
                </li>
            </ul>
        </div>
    </footer>
       
    
</body>
</html>